@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.white {
  color: #ffffff;
}

.bg_white {
  background: #ffffff;
}

.bg_pink {
  background: #E3C5B7;
}

.bg_lightgreen {
  background: #B8BAAD;
}

.bg_darkgreen {
  background: #586863;
}

.blue {
  background-image: url("img/bg_blue.jpg");
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Montserrat;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  padding-bottom: 200px;
}

h2 {
  margin: 0;
  padding: 0;
  font-family: Lora;
  color: #000000;
  -webkit-text-stroke: 1px #000000;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 4.5rem;
  margin: 70px 0px 30px 0px;
}

@media screen and (min-width: 700px) {
  h2 {
    -webkit-text-stroke: 2px #000000;
    font-size: 6.25rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 9.375rem;
  }
}

@media screen and (min-width: 1900px) {
  h2 {
    font-size: 11rem;
    -webkit-text-stroke: 3px #000000;
    margin: 100px 0px 60px 0px;
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-family: Lora;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 300;
  line-height: 1.375rem;
  letter-spacing: 0.9px;
  font-size: 0.875rem;
}

@media screen and (min-width: 1200px) {
  p {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}

.text_right {
  text-align: right;
}

.green_button {
  color: #ffffff;
  background: #000000;
  border: 2px solid #000000;
  padding: 18px 0;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  width: 240px;
  margin-left: calc( 50% - 120px);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.green_button:hover {
  background: #ffffff;
  color: #000000;
}

.sidenav {
  width: 100vw;
  position: fixed;
  left: 100vw;
  z-index: 100;
  overflow-x: hidden;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav .cross_icon {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 20px;
  right: calc( 12.5% - 5px);
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .sidenav .cross_icon {
    right: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .sidenav .cross_icon {
    right: 54px;
    top: 32px;
  }
}

.sidenav .menuSluzby {
  padding-left: 30px;
}

.sidenav .footer {
  margin-top: 0;
}

.sidenav .footer_container {
  padding-top: 100px;
  height: 100vh;
}

.sidenav .footer_box {
  padding-top: 50px;
}

@media screen and (max-width: 320px) {
  .sidenav .footer_box {
    padding-top: 0px;
  }
}

@media screen and (max-width: 380px) and (max-height: 600px) {
  .sidenav .footer_box {
    padding-top: 20px;
  }
}

@media screen and (min-width: 700px) {
  .sidenav .footer_box {
    padding-top: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .sidenav .footer_box {
    padding-top: 100px;
  }
}

@media screen and (max-width: 320px) {
  .sidenav .footer_box {
    padding-top: 20px;
  }
}

.container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.fringe {
  width: 30px;
}

@media screen and (min-width: 700px) {
  .fringe {
    width: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .fringe {
    min-width: 138px;
  }
}

.main {
  width: calc( 100% - 60px);
}

@media screen and (min-width: 700px) {
  .main {
    width: calc( 100% - 90px);
  }
}

@media screen and (min-width: 1200px) {
  .main {
    min-width: calc( 100% - 276px);
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row_from_tablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 700px) {
  .row_from_tablet {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.row_from_pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .row_from_pc {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .pc_reverse_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 700px) {
  .tb_pc_reverse_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 700px) {
  .tb_pc_reverse_column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
}

.margin_left_0 {
  margin-left: 0;
}

.aligncont_spbetw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aligncont_sp_around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pc_tab_only_bl {
  display: none;
}

@media screen and (min-width: 700px) {
  .pc_tab_only_bl {
    display: block;
  }
}

@media screen and (min-width: 700px) {
  .pc_mob_only_bl {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .pc_mob_only_bl {
    display: block;
  }
}

.pc_only_bl {
  display: none;
}

@media screen and (min-width: 1200px) {
  .pc_only_bl {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .pc_hide {
    display: none;
  }
}

.tab_only_bl {
  display: none;
}

@media screen and (min-width: 700px) {
  .tab_only_bl {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .tab_only_bl {
    display: none;
  }
}

.mobile_only_fl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 700px) {
  .mobile_only_fl {
    display: none;
  }
}

@media screen and (min-width: 700px) {
  .mobile_only_bl {
    display: none;
  }
}

.mobile_hide {
  display: none;
}

@media screen and (min-width: 700px) {
  .mobile_hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#hero {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 320px) {
  #hero {
    height: 110vh;
  }
}

#hero .hero_img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  #hero .hero_img {
    width: calc( 50% - 10px);
    height: 100vh;
    position: relative;
    left: calc( 50% + 10px);
    margin-top: calc( -40vh - 196px);
    background-image: url("img/hero_pc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#hero .hero_cont {
  width: calc( 100% - 60px);
  position: absolute;
  margin-left: auto;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(21%, #FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 21%);
}

@media screen and (min-width: 700px) {
  #hero .hero_cont {
    bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  #hero .hero_cont {
    display: none;
  }
}

#hero .hero_cont_pc {
  display: none;
}

@media screen and (min-width: 1200px) {
  #hero .hero_cont_pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    height: 196px;
    margin-top: calc( 40vh - 84px);
  }
}

#hero .topkonzul {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  padding-left: 20px;
  padding-top: 40px;
}

@media screen and (max-width: 320px) {
  #hero .topkonzul {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 700px) {
  #hero .topkonzul {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #hero .topkonzul {
    padding-top: 0px;
    padding-left: 0px;
  }
}

@media screen and (min-width: 1900px) {
  #hero .topkonzul {
    font-size: 2rem;
  }
}

#hero .okrok {
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
  padding: 5px 0px 30px 20px;
}

@media screen and (min-width: 700px) {
  #hero .okrok {
    font-size: 1.125rem;
    padding: 5px 0px 50px 20px;
  }
}

@media screen and (min-width: 1200px) {
  #hero .okrok {
    padding: 10px 0px 50px 0px;
  }
}

@media screen and (min-width: 1900px) {
  #hero .okrok {
    font-size: 1.5rem;
    padding: 50px 0px 100px 0px;
  }
}

#hero .signature {
  width: 270px;
  height: 130px;
  position: absolute;
  bottom: 130px;
  right: 45px;
}

@media screen and (min-width: 1200px) {
  #hero .signature {
    right: 52%;
    bottom: 40px;
  }
}

.hero_top {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 700px) {
  .hero_top {
    height: 84px;
  }
}

.logo {
  width: calc( 25% - 7.5px);
  height: auto;
  padding-top: 20px;
  max-width: 160px;
}

@media screen and (min-width: 1200px) {
  .logo {
    position: absolute;
    left: 40px;
    padding-top: 30px;
  }
}

.pink_cover {
  width: calc( 25% + 7.5px);
  height: 180px;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 700px) {
  .pink_cover {
    width: 102px;
    height: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .pink_cover {
    height: 100vh;
    min-width: 138px;
  }
}

.hmbg {
  width: 34px;
  height: 13px;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .hmbg {
    padding-top: 30px;
  }
}

#services {
  background-image: url("img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 10vh;
}

@media screen and (min-width: 700px) {
  #services {
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  #services {
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  #services {
    height: 120vh;
  }
}

.services_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box_services {
  width: calc( 50% - 5px);
  padding: 14px;
  margin-bottom: 10px;
}

.box_services:hover .services_box_bg {
  background-size: 140%;
}

@media screen and (min-width: 700px) {
  .box_services {
    width: calc( 25% - 7.5px);
  }
}

@media screen and (min-width: 1200px) {
  .box_services {
    width: calc( 25% - 15px);
    padding: 29px;
  }
}

@media screen and (min-width: 1900px) {
  .box_services {
    min-height: 500px;
  }
}

.box_services .services_box_bg {
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1200px) {
  .box_services .services_box_bg {
    height: 160px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .box_services .services_box_bg {
    height: 110px;
  }
}

@media screen and (min-width: 1900px) {
  .box_services .services_box_bg {
    height: 250px;
  }
}

.box_services .s_bg1 {
  background-image: url("img/sluzby1.jpg");
}

.box_services .s_bg2 {
  background-image: url("img/sluzby2.jpg");
}

.box_services .s_bg3 {
  background-image: url("img/sluzby3.jpg");
}

.box_services .s_bg4 {
  background-image: url("img/sluzby5.jpg");
}

.box_services .services_header {
  height: 70px;
}

@media screen and (min-width: 1200px) {
  .box_services .services_header {
    font-size: 1.5rem;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .box_services .services_header {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1900px) {
  .box_services .services_header {
    font-size: 2.2rem;
    height: 200px;
  }
}

.box_services .services_number {
  font-family: Lora;
  color: #000000;
  -webkit-text-stroke: 1.5px #000000;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 3.125rem;
  text-align: right;
  position: relative;
  margin-top: -2rem;
}

@media screen and (min-width: 1200px) {
  .box_services .services_number {
    -webkit-text-stroke: 3px #000000;
    font-size: 5.25rem;
    margin-top: -3.4rem;
  }
}

.box_services .whiteNumber {
  -webkit-text-stroke: 1.5px #ffffff;
}

@media screen and (min-width: 700px) {
  #about {
    margin-top: 100px;
  }
}

@media screen and (min-width: 700px) {
  .portrait {
    width: calc( 50% - 20px);
  }
}

.duo_header {
  margin: 0px;
  position: relative;
  margin-left: -114px;
}

@media screen and (min-width: 1200px) {
  .duo_header {
    margin: 20px 0px 60px -160px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .duo_header {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1900px) {
  .duo_header {
    margin: 20px 0px 60px -200px;
  }
}

@media screen and (min-width: 2440px) {
  .duo_header {
    margin: 20px 0px 60px -270px;
  }
}

.white_duo_part {
  font-size: 6.25rem;
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1200px) {
  .white_duo_part {
    font-size: 9.375rem;
  }
}

@media screen and (min-width: 1900px) {
  .white_duo_part {
    font-size: 11rem;
    -webkit-text-stroke: 3px #ffffff;
  }
}

.textabout {
  width: 100%;
  padding: 50px 0px;
}

.textabout .button_div {
  padding-top: 50px;
}

@media screen and (min-width: 700px) {
  .textabout {
    width: 50%;
    padding: 30px 10px;
  }
}

@media screen and (min-width: 1200px) {
  .textabout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1900px) {
  .textabout p {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .textabout {
    padding: 10px;
  }
  .textabout p {
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
}

.uspechy_cont {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 50px 0px;
}

@media screen and (min-width: 700px) {
  .uspechy_cont {
    margin: 50px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .uspechy_cont {
    margin: 80px 0px;
  }
}

.uspechy_box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px 0px;
}

@media screen and (min-width: 700px) {
  .uspechy_box {
    padding: 15px 35px;
    width: calc( 50% - 10px);
  }
}

@media screen and (min-width: 1200px) {
  .uspechy_box {
    padding: 15px 0px;
    width: calc( 25% - 15px);
  }
}

.usp_img {
  height: 56px;
  width: auto;
}

.usp_text_box {
  width: calc( 75% - 10px);
}

.usp_header {
  font-size: 1.5rem;
  font-family: Lora;
  font-weight: 400;
  text-align: center;
}

.usp_text p {
  font-size: 0.95rem;
}

@media screen and (min-width: 1900px) {
  .usp_text p {
    font-size: 1.3rem;
  }
}

.values {
  background: #B8BAAD;
  width: 155%;
  height: 30px;
  background-image: url("img/kkkk.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  margin: 80px 0px;
}

@media screen and (min-width: 700px) {
  .values {
    height: 46px;
    width: 130%;
  }
}

@media screen and (min-width: 1200px) {
  .values {
    width: 120%;
    height: 58px;
    margin: 0px 0px 120px 0px;
  }
}

#spojenci {
  background-image: url("img/bg8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 10vh;
}

@media screen and (min-width: 700px) {
  #spojenci {
    height: 60vh;
  }
}

@media screen and (min-width: 1200px) {
  #spojenci {
    height: 100vh;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  #spojenci {
    height: 120vh;
  }
}

.h2_sp {
  font-size: 3rem;
}

@media screen and (min-width: 700px) {
  .h2_sp {
    font-size: 6.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .h2_sp {
    font-size: 9.375rem;
  }
}

.box_spojenci {
  width: calc( 50% - 5px);
  height: auto;
  margin-bottom: 10px;
  background: #F4F4F4;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .box_spojenci {
    min-height: 400px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .box_spojenci {
    min-height: 300px;
  }
}

@media screen and (min-width: 1900px) {
  .box_spojenci {
    min-height: 550px;
  }
}

.box_spojenci p {
  padding: 15px;
}

@media screen and (max-width: 320px) {
  .box_spojenci p {
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .box_spojenci p {
    padding: 30px 20px;
  }
}

@media screen and (min-width: 1900px) {
  .box_spojenci p {
    padding: 50px 30px;
  }
}

.box_spojenci p, .box_spojenci .bold, .box_spojenci .italic {
  font-size: 0.6rem;
  line-height: 0.9rem;
}

@media screen and (max-width: 320px) {
  .box_spojenci p, .box_spojenci .bold, .box_spojenci .italic {
    font-size: 0.5rem;
    line-height: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .box_spojenci p, .box_spojenci .bold, .box_spojenci .italic {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .box_spojenci p, .box_spojenci .bold, .box_spojenci .italic {
    font-size: 0.7rem;
    line-height: 1.4rem;
  }
}

@media screen and (min-width: 1900px) {
  .box_spojenci p, .box_spojenci .bold, .box_spojenci .italic {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
}

.box_spojenci::before {
  content: "";
  visibility: visible;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.box_spojenci:hover::before {
  visibility: hidden;
}

@media screen and (min-width: 700px) {
  .box_spojenci {
    width: calc( 25% - 7.5px);
  }
}

@media screen and (min-width: 1200px) {
  .box_spojenci {
    width: calc( 25% - 15px);
  }
}

.spojenci_bg1::before {
  background-image: url("img/spojenec1.jpg");
}

.spojenci_bg2::before {
  background-image: url("img/spojenec2.jpg");
}

.spojenci_bg3::before {
  background-image: url("img/spojenec3.jpg");
}

.spojenci_bg4::before {
  background-image: url("img/spojenec4.jpg");
}

#reference {
  padding-bottom: 100px;
}

.h2_rf {
  font-size: 4rem;
}

@media screen and (min-width: 700px) {
  .h2_rf {
    font-size: 6.25rem;
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  .h2_rf {
    font-size: 9.375rem;
  }
}

@media screen and (max-width: 320px) {
  .h2_rf {
    font-size: 3rem;
  }
}

@media screen and (min-width: 700px) {
  .ref_img_box {
    width: calc(25% + 7.5px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: -60px;
  }
}

@media screen and (min-width: 1200px) {
  .ref_img_box {
    width: 30%;
    margin-top: -150px;
  }
}

.ref_text_box {
  padding: 30px 18px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  .ref_text_box {
    width: calc( 75% + 22.5px);
    padding: 30px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .ref_text_box {
    width: 70%;
    padding: 70px 105px;
  }
}

@media screen and (min-width: 1900px) {
  .ref_text_box {
    padding: 100px 150px;
  }
}

.ref_text_box .ref_text_wrap {
  height: 370px;
}

@media screen and (min-width: 700px) {
  .ref_text_box .ref_text_wrap {
    height: 270px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .ref_text_box .ref_text_wrap {
    height: 250px;
  }
}

@media screen and (min-width: 1900px) {
  .ref_text_box .ref_text_wrap {
    height: 500px;
  }
}

.ref_text_box p {
  font-size: 0.6875rem;
  letter-spacing: 0.55px;
}

@media screen and (min-width: 700px) {
  .ref_text_box p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 320px) {
  .ref_text_box p {
    line-height: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .ref_text_box p {
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 1900px) {
  .ref_text_box p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

.ref_undertext {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 700px) {
  .ref_undertext {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.lada_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 194px;
  margin: 20px auto;
  background: #ffffff;
}

@media screen and (min-width: 700px) {
  .lada_box {
    margin: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .lada_box {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 220px;
  }
}

.lada_img {
  height: 49px;
  width: 49px;
}

.lada_name {
  font-size: 0.875rem;
  font-weight: 600;
}

@media screen and (min-width: 1900px) {
  .lada_name {
    font-size: 1rem;
  }
}

.img_slider {
  width: 110px;
  height: 6px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.arrow_box {
  width: 110px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

@media screen and (min-width: 1200px) {
  .arrow_box {
    margin: 0px;
    width: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.arrow_box img {
  height: 50px;
  width: 50px;
}

@media screen and (min-width: 1200px) {
  .arrow_box img {
    height: auto;
    margin-left: 1px;
  }
}

#testimonial2, #testimonial3, #testimonial4 {
  display: none;
}

#contact {
  background-image: url("img/bg8.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact .top_layer {
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 320px) {
  .contact .top_layer {
    font-size: 4.2rem;
  }
}

.contact .cont_cont {
  margin-bottom: 100px;
  position: relative;
  margin-top: -70px;
}

@media screen and (min-width: 700px) {
  .contact .cont_cont {
    margin-top: -80px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .cont_cont {
    margin-top: -105px;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1900px) {
  .contact .cont_cont {
    margin-top: -135px;
  }
}

@media screen and (min-width: 700px) {
  .contact .map_contactdata {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .contact_container {
  padding: 50px 20px 30px 20px;
}

@media screen and (min-width: 700px) {
  .contact .contact_container {
    width: 50%;
    padding: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .contact .contact_container {
    padding-right: 10px;
    padding-left: 80px;
  }
}

.contact .contact_container input, .contact .contact_container textarea {
  width: 100%;
  border: 0;
  border-bottom: 1px solid;
  padding: 5px 0;
  margin-bottom: 0.6rem;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0px !important;
}

@media screen and (min-width: 1900px) {
  .contact .contact_container input, .contact .contact_container textarea {
    font-size: 1.2rem;
  }
}

.contact .contact_container input::-webkit-outer-spin-button, .contact .contact_container textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.contact .contact_container textarea::-webkit-input-placeholder {
  padding-top: 160px;
}

.contact .contact_container .message {
  background: #E3C5B7;
}

.contact .contact_container label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact .contact_container .submit {
  color: #ffffff;
  background: #000000;
  border: 2px solid #000000;
  padding: 18px 0;
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  width: 240px;
  margin-left: calc( 50% - 120px);
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 1200px) {
  .contact .contact_container .submit {
    margin-left: 0px;
  }
}

.contact .contact_container .submit:hover {
  background: #ffffff;
  color: #000000;
}

.contact .contact_data {
  padding: 10%;
}

@media screen and (min-width: 700px) {
  .contact .contact_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact iframe {
  width: 100%;
  height: 300px;
  padding: 30px 30px 10px 30px;
  background: #ffffff;
}

@media screen and (min-width: 700px) {
  .contact iframe {
    padding-top: 80px;
    height: 360px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .contact iframe {
    padding: 65px 80px 10px 80px;
    height: 440px;
  }
}

@media screen and (min-width: 1200px) {
  .contact .contact_data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .contact .contact_data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .email_box p {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1900px) {
  .contact .email_box p {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

.contact .email_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .icon_phone {
  width: 15px;
  height: auto;
  margin-top: 3px;
  margin-right: 10px;
}

@media screen and (min-width: 1900px) {
  .contact .icon_phone {
    width: 20px;
    margin-top: 8px;
  }
}

.emailMessage {
  padding: 100px 0px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 700px) {
  .emailMessage {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .emailMessage {
    margin-top: 10px;
    padding: 120px 0px;
  }
  .emailMessage h3 {
    font-size: 1.5rem;
  }
}

.emailMessage h3 {
  text-align: center;
}

.footer {
  background: #586863;
}

.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
}

.footer_box {
  width: calc( 50% - 5px);
}

@media screen and (min-width: 700px) {
  .footer_box {
    width: calc( 25% - 7.5px);
  }
}

@media screen and (min-width: 1200px) {
  .footer_box {
    width: calc( 25% - 15px);
  }
}

.footer_box .footer_header {
  margin: 0;
  padding: 0;
  font-family: Lora;
  color: #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 2rem;
}

.footer_box ul {
  padding: 0;
  margin: 2rem 0;
}

.footer_box li {
  list-style: none;
  padding: 5px 0;
}

@media screen and (min-width: 1900px) {
  .footer_box li {
    padding: 10px 0;
  }
}

.footer_box li a {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

@media screen and (min-width: 1900px) {
  .footer_box li a {
    font-size: 1.2rem;
  }
}

.footer_box a {
  color: #ffffff;
}

.footer_box a:hover {
  text-decoration: underline;
}

.list3 {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .list3 {
    width: 50%;
  }
}

.list3 .footer_line {
  display: none;
}

@media screen and (min-width: 700px) {
  .list3 .footer_line {
    display: block;
  }
}

.list3 .footer_header {
  display: none;
}

@media screen and (min-width: 700px) {
  .list3 .footer_header {
    display: block;
  }
}

.madeby {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.madeby p {
  color: #ffffff;
  font-size: 0.875rem;
}

.madeby a:hover {
  color: #E3C5B7;
  text-decoration: underline;
}

#hypoteky {
  background-image: url("img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (min-width: 700px) {
  .sekce .hypo_part1 {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .sekce .hypo_part1 {
    padding-bottom: 120px;
  }
}

.sekce .sekce_from_tablet_half {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .sekce .sekce_from_tablet_half {
    width: calc( 50% - 5px);
  }
}

@media screen and (min-width: 1200px) {
  .sekce .sekce_from_tablet_half {
    width: calc( 50% - 10px);
  }
}

.sekce .pink_cover {
  height: 62px;
}

@media screen and (min-width: 700px) {
  .sekce .pink_cover {
    height: 84px;
  }
}

.sekce .h2_header {
  font-size: 4rem;
}

@media screen and (max-width: 320px) {
  .sekce .h2_header {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 700px) {
  .sekce .h2_header {
    font-size: 6.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .sekce .h2_header {
    font-size: 9.375rem;
  }
}

.sekce .sekce_header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px;
}

@media screen and (min-width: 1200px) {
  .sekce .sekce_header_box {
    padding: 0px 80px;
  }
}

.sekce .sekce_header_box h3 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.25px;
}

@media screen and (min-width: 700px) {
  .sekce .sekce_header_box h3 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .sekce .sekce_header_box h3 {
    font-size: 2.25rem;
  }
}

.sekce .hypo_pink_box {
  height: 101px;
  background-image: url("img/pink_quest.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .sekce .hypo_pink_box {
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .sekce .hypo_pink_box {
    height: 320px;
  }
}

.sekce ul {
  margin: 0px;
  padding-left: 18px;
  list-style-image: url("img/li.svg");
}

.sekce ul li {
  padding: 7.5px 0px;
  line-height: 22px;
}

.sekce .sekce_ul {
  margin: 20px 0px 30px 0px;
}

@media screen and (min-width: 700px) {
  .sekce .sekce_ul {
    padding-left: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .sekce .sekce_ul {
    padding-left: 58px;
  }
}

.hypo_part2 {
  padding: 30px 0px 50px 0px;
}

@media screen and (min-width: 700px) {
  .hypo_part2 {
    padding: 70px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part2 {
    padding: 90px 0px;
  }
}

.hypo_part2 .hypo_green_box {
  height: 101px;
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part2 .hypo_green_box {
    width: 100% !important;
    height: 117px;
    position: relative;
    z-index: 5;
    margin-left: calc( 50% + 10px);
    margin-top: 20px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part2 .hypo_green_box {
    margin-top: 50px;
    height: 185px;
  }
}

.hypo_part2 .hypo_img_1 {
  width: 100%;
  height: auto;
}

.hypo_part2 .A_Z {
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part2 .A_Z {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part2 .A_Z {
    text-align: left;
  }
}

.hypo_part2 .part2_button {
  margin-top: 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part2 .part2_button {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part2 .part2_button {
    margin-top: 60px;
  }
}

.part2_text {
  padding: 20px 0px;
}

@media screen and (min-width: 700px) {
  .part2_text {
    padding: 0px;
  }
}

.pdf_form_box {
  position: fixed;
  z-index: 50;
  top: 20%;
  left: 30px;
  display: none !important;
  width: calc( 100% - 60px);
}

@media screen and (min-width: 700px) {
  .pdf_form_box {
    left: 45px;
    width: calc( 100% - 90px);
  }
}

@media screen and (min-width: 1200px) {
  .pdf_form_box {
    width: calc( 100% - 276px);
    left: 138px;
  }
}

.pdf_form_box .row-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.closePdf {
  width: 15px;
  height: 15px;
}

.pdf_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.pdf_form .pdf_label {
  height: 0;
}

.pdf_form input {
  margin: 8px 0px;
}

.pdf_form .pdf_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 0px !important;
  border: 0;
}

.pdf_form .pdf_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.pdf_form .checkbox {
  margin: 4px 8px 0px 0px;
}

.pdf_form .green_button {
  margin-left: calc( 50% - 120px);
  margin-top: 30px;
}

@media screen and (min-width: 700px) {
  .pdf_form {
    padding: 60px 120px;
  }
}

@media screen and (min-width: 1200px) {
  .pdf_form {
    padding: 80px 200px;
  }
}

@media screen and (min-width: 1600px) {
  .pdf_form {
    padding: 80px 400px;
  }
}

.kroky4_header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 36px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .kroky4_header_box {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.kroky4_header_box h3 {
  line-height: 1.375rem;
}

@media screen and (min-width: 1200px) {
  .kroky4_header_box h3 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

.kroky4_header_box .kroky4 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.33px;
}

@media screen and (min-width: 700px) {
  .kroky4_header_box .kroky4 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  .kroky4_header_box .kroky4 {
    font-size: 2.25rem;
  }
}

.kroky4_text_box_cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 700px) {
  .kroky4_text_box_cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: calc( 50% + 5px);
  }
}

@media screen and (min-width: 1200px) {
  .kroky4_text_box_cont {
    width: calc( 50% + 10px);
  }
}

.kroky4_text_box {
  padding: 36px 20px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .kroky4_text_box {
    padding: 36px;
  }
}

.kroky_slider_box {
  width: 100%;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .kroky_slider_box {
    width: 314px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.kroky_slider {
  width: calc( 25% - 0.75px);
  height: 100%;
  border: 1px #E3C5B7 solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kroky_slider:hover {
  background-color: rgba(227, 197, 183, 0.4);
}

.kroky_slider:hover .slider_number {
  color: #000000;
}

.kroky_slider:hover .kroky_slider_selected {
  background-color: #E3C5B7;
}

.kroky_slider .slider_number {
  font-family: Lora;
  font-size: 1.875rem;
  font-weight: 500;
  color: #E3C5B7;
}

.kroky_slider_selected {
  background: #E3C5B7;
}

.kroky_slider_selected .slider_number {
  color: #000000;
}

.krok_height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 250px;
}

@media screen and (min-width: 700px) {
  .krok_height {
    height: 200px;
  }
}

#krok_hypo4, #krok_hypo2, #krok_hypo3 {
  display: none;
}

.pdf_button {
  background: transparent;
  color: #000000;
  margin-top: 30px;
}

.pdf_button:hover {
  background: #000000;
  color: #ffffff;
}

.button_box {
  display: none;
}

@media screen and (min-width: 700px) {
  .button_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 370px;
    margin-left: calc( 50% - 195px);
    margin-top: 30px;
  }
  .button_box .pdf_button {
    margin-top: 0px;
  }
}

.hypo_part3 {
  background-image: url("img/bg3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0px;
}

@media screen and (min-width: 700px) {
  .hypo_part3 {
    padding: 70px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part3 {
    padding: 120px 0px;
  }
}

@media screen and (min-width: 700px) {
  .hypo_part3 .kroky4_header_box {
    margin-top: 67px;
  }
}

.hypo_part3 .A_Z {
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part3 .A_Z {
    text-align: left;
    margin-left: calc( 50% + 30px);
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part3 .A_Z {
    text-align: left;
  }
}

.hypo_part4 {
  padding-bottom: 100px;
}

.hypo_part4 .align_fl_end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hypo_part4 .hypo_otazky_box {
  width: 100%;
  cursor: pointer;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.hypo_part4 .hypo_otazky_box h3 {
  color: #ffffff;
  font-weight: 300 !important;
  padding-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part4 .hypo_otazky_box h3 {
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part4 .hypo_otazky_box h3 {
    padding-bottom: 37px;
  }
}

@media screen and (min-width: 700px) {
  .hypo_part4 .hypo_otazky_box {
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part4 .hypo_otazky_box {
    height: 185px;
  }
}

.hypo_part4 .hypo_otazky_bg1 {
  background-image: url("img/bg_otazky_1.jpg");
}

.hypo_part4 .hypo_otazky_bg2 {
  background-image: url("img/bg_otazky_2.jpg");
}

.hypo_part4 .hypo_otazky_bg3 {
  background-image: url("img/bg_otazky_3.jpg");
}

.hypo_part4 .sekce_ul {
  margin: 0px;
}

.hypo_part4 .hypo_odpoved_container {
  padding: 10px 0px 50px 0px;
  display: none;
  width: 100% !important;
}

@media screen and (min-width: 1200px) {
  .hypo_part4 .hypo_odpoved_container {
    padding: 30px 0px 90px 0px;
  }
}

.hypo_part4 .hypo_odpoved_container p {
  padding: 0px 20px;
}

@media screen and (min-width: 700px) {
  .hypo_part4 .hypo_odpoved_container p {
    padding: 0px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hypo_part4 .hypo_odpoved_container p {
    padding: 0px 80px;
  }
}

.box_7rad {
  margin-bottom: 20px;
}

.box_7rad p, .box_7rad li {
  font-weight: 200 !important;
}

.bold {
  font-weight: 600;
  color: #586863;
}

.italic {
  font-style: italic;
}

.bg_rada {
  background-size: 76px;
  background-repeat: no-repeat;
  background-position: 95% 101%;
}

@media screen and (min-width: 700px) {
  .bg_rada {
    background-size: 155px;
  }
}

.bg_rada1 {
  background-image: url("img/rada1.png");
}

.bg_rada2 {
  background-image: url("img/rada2.png");
}

.bg_rada3 {
  background-image: url("img/rada3.png");
}

.bg_rada4 {
  background-image: url("img/rada4.png");
}

.bg_rada5 {
  background-image: url("img/rada5.png");
}

.bg_rada6 {
  background-image: url("img/rada6.png");
}

.bg_rada7 {
  background-image: url("img/rada7.png");
}

#odpoved3 {
  display: none;
  width: 100% !important;
}

#pujcky {
  background-image: url("img/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 106px;
}

@media screen and (min-width: 700px) {
  #pujcky {
    padding-bottom: 132px;
  }
}

@media screen and (min-width: 1200px) {
  #pujcky {
    padding-bottom: 120px;
  }
}

.h2_puj {
  font-size: 3rem;
}

@media screen and (min-width: 700px) {
  .h2_puj {
    font-size: 6.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .h2_puj {
    font-size: 6.375rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .h2_puj {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1900px) {
  .h2_puj {
    font-size: 9.375rem;
  }
}

@media screen and (max-width: 320px) {
  .h2_puj {
    font-size: 2.8rem;
  }
}

#rezervy {
  background-image: url("img/bg5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 106px;
}

@media screen and (min-width: 700px) {
  #rezervy {
    padding-bottom: 132px;
  }
}

@media screen and (min-width: 1200px) {
  #rezervy {
    padding-bottom: 120px;
  }
}

#rezervy .pad_bot {
  padding-bottom: 20px;
}

@media screen and (min-width: 700px) {
  #rezervy .pad_bot {
    padding-bottom: 132px;
  }
}

@media screen and (min-width: 1200px) {
  #rezervy .pad_bot {
    padding-bottom: 120px;
  }
}

.h2_rez {
  font-size: 2.85rem;
}

@media screen and (min-width: 700px) {
  .h2_rez {
    font-size: 6.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .h2_rez {
    font-size: 9.375rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .h2_rez {
    font-size: 8rem;
  }
}

@media screen and (max-width: 320px) {
  .h2_rez {
    font-size: 2.4rem;
  }
}

.splatkomer .placeholder {
  width: 15px;
  text-align: left;
  position: relative;
  z-index: 3;
  left: 85%;
}

.splatkomer .popisky {
  padding: 0px;
}

.splatkomer input {
  width: 100%;
  text-align: center;
  position: relative;
  top: -24px;
  font-family: Montserrat;
  font-weight: 300;
}

.splatkomer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.splatkomer .result {
  position: relative;
  z-index: 5;
  display: none;
  height: 100px;
}

#splatkomer .kroky4_header_box {
  margin-top: 0px;
}

#splatkomer .kroky4_text_box_cont .kroky4_text_box {
  padding: 36px;
  height: 100%;
}

@media screen and (min-width: 700px) {
  #splatkomer .kroky4_text_box_cont .kroky4_text_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#splatkomer .kroky4_text_box_cont .kroky4_text_box .result_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#splatkomer .kroky4_text_box_cont .kroky4_text_box .result_box h4 {
  text-align: center;
}

#splatkomer .kroky4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 0.33px;
}

@media screen and (min-width: 700px) {
  #splatkomer .kroky4 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 1200px) {
  #splatkomer .kroky4 {
    font-size: 2.25rem;
  }
}

#splatkomer .part2_button {
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  #splatkomer .part2_button {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.konsolidomer .placeholder {
  width: 15px;
  text-align: left;
  position: relative;
  z-index: 3;
  left: 85%;
}

.konsolidomer .popisky {
  padding: 0px;
}

.konsolidomer .input_div + .input_div {
  position: relative;
  margin-top: -20px;
}

.konsolidomer .input_div {
  width: 100%;
}

.konsolidomer .input {
  width: 100%;
  text-align: center;
  position: relative;
  top: -24px;
}

.konsolidomer .checkbox_box {
  position: relative;
  top: -10px;
}

.konsolidomer .checkbox_box label {
  font-weight: 200;
  font-size: 0.875rem;
}

.konsolidomer .checkbox {
  width: 25px;
  position: relative;
  top: 2px;
  margin: 0px;
  margin-right: 10px;
  padding: 0px;
}

.konsolidomer .pujcka_header {
  margin: 5px 0px;
}

.konsol_box {
  height: 150px;
  padding-top: 15px;
}

.instrukce {
  position: relative;
  top: 0;
}

.h2_poj {
  font-size: 2.5rem;
  line-height: 3rem;
}

@media screen and (min-width: 700px) {
  .h2_poj {
    font-size: 5rem;
    line-height: 5.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .h2_poj {
    font-size: 9rem;
    line-height: 9.6rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .h2_poj {
    font-size: 8rem;
  }
}

@media screen and (max-width: 320px) {
  .h2_poj {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}

.h2_poj_odpov {
  font-size: 2.5rem;
  line-height: 3rem;
}

@media screen and (min-width: 700px) {
  .h2_poj_odpov {
    font-size: 5rem;
    line-height: 5.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .h2_poj_odpov {
    font-size: 8.5rem;
    line-height: 9.6rem;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .h2_poj_odpov {
    font-size: 7rem;
  }
}

@media screen and (max-width: 320px) {
  .h2_poj_odpov {
    font-size: 2.1rem;
    line-height: 2.5rem;
  }
}

#pojisteni {
  padding-bottom: 30px;
}

@media screen and (min-width: 700px) {
  #pojisteni {
    padding-bottom: 100px;
  }
}

.poj_part2_bg {
  background-image: url("img/bg6.jpg");
  background-attachment: fixed;
}

.poj_part2_bg .krok_height {
  height: 280px;
}

@media screen and (max-width: 320px) {
  .poj_part2_bg .krok_height {
    height: 350px;
  }
}

@media screen and (min-width: 700px) {
  .poj_part2_bg .kroky4_header_box {
    margin-top: 53px;
  }
}

@media screen and (min-width: 1200px) {
  .poj_part2_bg .kroky4_header_box {
    margin-top: 79px;
  }
}

.poj_part2_bg .kroky_slider_box {
  width: 100%;
  height: 50px;
}

@media screen and (min-width: 700px) {
  .poj_part2_bg .kroky_slider_box {
    width: 334px;
    height: 53px;
  }
}

@media screen and (min-width: 1200px) {
  .poj_part2_bg .kroky_slider_box {
    width: 533px;
    height: 79px;
  }
}

@media screen and (min-width: 1200px) and (max-height: 700px) {
  .poj_part2_bg .kroky_slider_box {
    width: 500px;
  }
}

.poj_part2_bg .kroky_slider {
  width: calc( 16% - 0.7px);
  height: 100%;
  border: 1px #B8BAAD solid;
}

.poj_part2_bg .kroky_slider:hover {
  background-color: rgba(184, 186, 173, 0.4);
}

.poj_part2_bg .kroky_slider:hover .slider_number {
  color: #000000;
}

.poj_part2_bg .kroky_slider:hover .kroky_slider_selected {
  background-color: #B8BAAD;
}

.poj_part2_bg .kroky_slider .slider_number {
  color: #B8BAAD;
  font-size: 1.375rem;
}

@media screen and (min-width: 1200px) {
  .poj_part2_bg .kroky_slider .slider_number {
    font-size: 1.85rem;
  }
}

.poj_part2_bg .kroky_slider_selected {
  background: #B8BAAD;
}

.poj_part2_bg .kroky_slider_selected .slider_number {
  color: #000000;
}

.poj_part2_bg #krok_poj2, .poj_part2_bg #krok_poj3, .poj_part2_bg #krok_poj4, .poj_part2_bg #krok_poj5, .poj_part2_bg #krok_poj6 {
  display: none;
}

.poj_part2_bg .part2_button {
  margin-top: 30px;
}

.poj_part3 {
  padding-bottom: 30px;
}

@media screen and (min-width: 700px) {
  .poj_part3 h2 {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .poj_part3 h2 {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 700px) {
  .poj_part3 {
    padding-bottom: 100px;
  }
}

.poj_part3 .hypo_green_box {
  height: 101px;
  margin-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .poj_part3 .hypo_green_box {
    height: 117px;
  }
}

@media screen and (min-width: 1200px) {
  .poj_part3 .hypo_green_box {
    height: 185px;
  }
}

@media screen and (min-width: 700px) {
  .poj_part3 ul {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .poj_part3 .margin_top_special {
    margin: 10% 0;
  }
}

.poj_part4_bg {
  background-image: url("img/bg7.jpg");
}

.poj_part4_bg .krok_height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}

@media screen and (max-width: 320px) {
  .poj_part4_bg .krok_height {
    height: 380px;
  }
}

.poj_part4_bg .kroky_slider {
  border: 1px #586863 solid;
}

.poj_part4_bg .kroky_slider .slider_number {
  color: #586863;
}

.poj_part4_bg .kroky_slider:hover {
  background-color: rgba(88, 104, 99, 0.4);
}

.poj_part4_bg .kroky_slider:hover .slider_number {
  color: #000000;
}

.poj_part4_bg .kroky_slider_selected {
  background: #586863;
}

.poj_part4_bg .kroky_slider_selected .slider_number {
  color: #ffffff;
}

.poj_part4_bg .part4_button {
  margin-top: 30px;
}

.gdpr .bold {
  margin: 15px 0px;
}
/*# sourceMappingURL=style.css.map */