@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

// ************** VARIABLES ******************
// COLORS
$white: #ffffff
$black: #2c2c2c
$pink: #E3C5B7
$lightgreen: #B8BAAD
$darkgreen: #586863

// $blue: #6598C7
// $darkblue: #003152
// $grey: #D7DEE1
// $green: #89B700
$white: #ffffff
$light: #F4F4F4
$black: #000000

// COLORS
.white
    color: $white    

// BACKGROUNDS
.bg_white
    background: $white
.bg_pink
    background: $pink
.bg_lightgreen
    background: $lightgreen
.bg_darkgreen
    background: $darkgreen
.blue
    background-image: url('img/bg_blue.jpg')


    

// ************** GENERAL STYLING *************
*, *::before, *::after
    box-sizing: border-box
    font-size: 16px
html
    scroll-behavior: smooth
    overflow-x: hidden
body
    margin: 0
    padding: 0
    overflow-x: hidden
    font-family: Montserrat
img
    max-width: 100%
a
    text-decoration: none
    color: inherit

h1
    margin: 0
    padding: 0
    font-size: 3rem
    padding-bottom: 200px
h2
    margin: 0
    padding: 0
    font-family: Lora
    color: $black
    -webkit-text-stroke: 1px $black
    -webkit-text-fill-color: transparent
    font-weight: 600
    font-size: 4.5rem
    margin: 70px 0px 30px 0px
    @media screen and ( min-width: 600px)
        -webkit-text-stroke: 2px $black
        font-size: 6.25rem
    @media screen and ( min-width: 1200px)
        font-size: 9.375rem
    @media screen and ( min-width: 1900px)
        font-size: 11rem
        -webkit-text-stroke: 3px $black
        margin: 100px 0px 60px 0px
h3
    margin: 0
    padding: 0
    font-family: Lora
    color: $black
    font-weight: 400
    font-size: 1rem
p
    margin: 0
    padding: 0
    font-family: Montserrat
    font-weight: 300
    line-height: 1.375rem
    letter-spacing: 0.9px
    font-size: 0.875rem
    font-height: 1.375rem
    @media screen and ( min-width: 1200px)
        font-size: 1rem
        line-height: 1.625rem
    // @media screen and ( min-width: 1900px)
    //     font-size: 1.2rem
    //     line-height: 1.8rem

.text_right
    text-align: right
.green_button
    color: $white
    background: $black
    border: 2px solid $black
    padding: 18px 0
    font-family: Montserrat
    font-weight: 300
    font-size: 1rem
    text-transform: uppercase
    width: 240px
    margin-left: calc( 50% - 120px )
    outline: none
    transition: 0.5s
    &:hover
        background: $white
        color: $black
.sidenav 
    width: 100vw
    position: fixed //* Stay in place */
    left: 100vw
    z-index: 100 //* Stay on top */
    overflow-x: hidden //* Disable horizontal scroll */
    overflow: hidden
    transition: 0.5s //* 0.5 second transition effect to slide in the sidenav */
    .cross_icon
        position: absolute
        width: 18px
        height: 17px
        top: 20px
        right: calc( 12.5% - 5px )
        cursor: pointer
        @media screen and ( min-width: 600px)
            right: 40px
        @media screen and ( min-width: 1200px)
            right: 54px
            top: 32px

    .menuSluzby
        padding-left: 30px
    .footer
        margin-top: 0
    .footer_container
        padding-top: 100px
        height: 100vh
        // @media screen and ( min-width: 600px)
        //     height: 66vh
        // @media screen and ( min-width: 1200px)
        //     height: 100vh
        //     width: 60vw
    .footer_box
        padding-top: 50px
        @media screen and ( min-width: 600px)
            padding-top: 200px
        @media screen and ( min-width: 1200px)
            padding-top: 100px
        @media screen and ( max-width: 320px)
            padding-top: 20px
        




// *************** GENERAL GRID *************
.container
    width: 100vw
    // max-width: 1900px
    display: flex
    margin: 0 auto
.fringe
    // background: $darkgreen
    width: 30px
    @media screen and ( min-width: 600px)
        width: 45px
    @media screen and ( min-width: 1200px)
        min-width: 138px
.main
    width: calc( 100% - 60px )
    @media screen and ( min-width: 600px)
        width: calc( 100% - 90px )
    @media screen and ( min-width: 1200px)
        min-width: calc( 100% - 276px )
    // width: 100%
    // background: $lightgreen
.row
    display: flex
.row_from_tablet
    display: flex
    flex-direction: column
    @media screen and ( min-width: 600px)
        flex-direction: row
        justify-content: space-between
.pc_reverse_row
    @media screen and ( min-width: 1200px)
        flex-direction: row-reverse
.tb_pc_reverse_row
    @media screen and ( min-width: 600px)
        flex-direction: row-reverse
.tb_pc_reverse_column
    @media screen and ( min-width: 600px)
        flex-direction: column-reverse !important
.margin_left_0
    margin-left: 0

.aligncont_spbetw
    display: flex
    flex-direction: column
    justify-content: space-between
.aligncont_sp_around
    display: flex
    flex-direction: column
    justify-content: space-around
    

//****************** HIDE / SHOW *************
.pc_tab_only_bl
    display: none
    @media screen and ( min-width: 600px)
        display: block
.pc_mob_only_bl
    @media screen and ( min-width: 600px) 
        display: none
    @media screen and ( min-width: 1200px)
        display: block
.pc_only_bl
    display: none
    @media screen and ( min-width: 1200px)
        display: block
.pc_hide
    @media screen and ( min-width: 1200px)
        display: none
.tab_only_bl
    display: none
    @media screen and ( min-width: 600px)
        display: block
    @media screen and ( min-width: 1200px)
        display: none
.mobile_only_fl
    display: flex
    @media screen and ( min-width: 600px)
        display: none
.mobile_only_bl
    @media screen and ( min-width: 600px)
        display: none
.mobile_hide
    display: none
    @media screen and ( min-width: 600px)
        display: flex

// *************** hero *************
#hero
    width: 100vw
    height: 100vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    .hero_img
        width: 100%
        height: auto
        @media screen and ( min-width: 1200px)
            width: calc( 50% - 10px )
            height: 100vh
            position: relative
            left: calc( 50% + 10px )
            // crazy! calculated with hero_cont_pc
            margin-top: calc( -40vh - 196px  )
            background-image: url('img/hero_pc.jpg')
            background-position: center
            background-repeat: no-repeat
            background-size: cover
    .hero_cont
        width: calc( 100% - 60px )
        position: absolute
        margin-left: auto
        bottom: 50px
        display: flex
        flex-direction: column
        align-content: space-between
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 21%)
        @media screen and ( min-width: 600px)
            bottom: 40px
        @media screen and ( min-width: 1200px)
            display: none
    .hero_cont_pc
        display: none
        @media screen and ( min-width: 1200px)
            display: flex
            flex-direction: column
            width: 50%
            height: 196px
            margin-top: calc( 40vh - 84px )
    .topkonzul
        font-size: 1.125rem
        font-weight: 500
        letter-spacing: 0.14px
        padding-left: 20px
        padding-top: 40px
        @media screen and ( max-width: 320px)
            font-size: 0.9rem
        @media screen and ( min-width: 600px)
            font-size: 1.5rem
        @media screen and ( min-width: 1200px)
            padding-top: 0px
            padding-left: 0px
        @media screen and ( min-width: 1900px)
            font-size: 2rem
    .okrok
        font-size: 0.8rem
        font-weight: 300
        font-style: italic
        padding: 5px 0px 30px 20px
        @media screen and ( min-width: 600px)
            font-size: 1.125rem
            padding: 5px 0px 50px 20px
        @media screen and ( min-width: 1200px)
            padding: 10px 0px 50px 0px
        @media screen and ( min-width: 1900px)
            font-size: 1.5rem
            padding: 50px 0px 100px 0px
    .signature
        width: 270px
        height: 74px
        position: absolute
        bottom: 130px
        right: 45px
        @media screen and ( min-width: 1200px)
            right: 52%
            bottom: 40px
.hero_top
        width: 100%
        height: 62px
        display: flex
        justify-content: flex-start
        @media screen and ( min-width: 600px)
            height: 84px
.logo
    width: calc( 25% - 7.5px )
    height: auto
    padding-top: 20px
    max-width: 160px
    @media screen and ( min-width: 1200px)
        position: absolute
        left: 40px
        padding-top: 30px
.pink_cover
        width: calc( 25% + 7.5px )
        height: 180px
        position: absolute
        top: 0
        right: 0
        display: flex
        justify-content: center
        @media screen and ( min-width: 600px)
            width: 102px
            height: 400px
        @media screen and ( min-width: 1200px)
            height: 100vh
            min-width: 138px
.hmbg
    width: 34px
    height: 13px
    padding-top: 20px
    @media screen and ( min-width: 1200px)
        padding-top: 30px
      
        
    // .green_button
    //     align-self: flex-end
        



// *************** SERVICES *************
#services
    height: 100vh
    background-image: url('img/bg1.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    @media screen and ( min-width: 600px)
        height: 60vh
    @media screen and ( min-width: 1200px)
        height: 100vh

.services_container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
.box_services
    width: calc( 50% - 5px )
    padding: 14px
    margin-bottom: 10px
    &:hover
        .services_box_bg
            background-size: 140%
    @media screen and ( min-width: 600px)
        width: calc( 25% - 7.5px )
    @media screen and ( min-width: 1200px)
        width: calc( 25% - 15px )
        padding: 29px
    @media screen and ( min-width: 1900px)
        min-height: 500px
    .services_box_bg
        height: 90px
        background-position: center
        background-repeat: no-repeat
        background-size: 130%
        transition: all 0.5s ease
        @media screen and ( min-width: 1200px)
            height: 160px
        @media screen and ( min-width: 1900px)
            height: 250px
    .s_bg1
        background-image: url('img/sluzby1.jpg')
    .s_bg2
        background-image: url('img/sluzby2.jpg')
    .s_bg3
        background-image: url('img/sluzby3.jpg')
    .s_bg4
        background-image: url('img/sluzby5.jpg')
    .services_header
        height: 70px
        @media screen and ( min-width: 1200px)
            font-size: 1.875rem
            height: 110px
        @media screen and ( min-width: 1900px)
            font-size: 2.2rem
            height: 200px
    .services_number
        font-family: Lora
        color: $black
        -webkit-text-stroke: 1.5px $black
        -webkit-text-fill-color: transparent
        font-weight: 600
        font-size: 3.125rem
        text-align: right
        position: relative
        margin-top: -2rem
        @media screen and ( min-width: 1200px)
            -webkit-text-stroke: 3px $black
            font-size: 5.25rem
            margin-top: -3.4rem
    .whiteNumber
        -webkit-text-stroke: 1.5px $white


// *************** ABOUT *************
#about
    @media screen and ( min-width: 600px)
        margin-top: 100px
.portrait
    // height: 100%
    @media screen and ( min-width: 600px)
        width: calc( 50% - 20px )
// header tab+pc
.duo_header
    margin: 0px
    position: relative
    margin-left: -114px
    @media screen and ( min-width: 1200px)
        margin: 20px 0px 60px -160px
    @media screen and ( min-width: 1900px)
        margin: 20px 0px 60px -200px
.white_duo_part
    font-size: 6.25rem
    -webkit-text-stroke: 2px $white
    -webkit-text-fill-color: transparent
    @media screen and ( min-width: 1200px)
        font-size: 9.375rem
    @media screen and ( min-width: 1900px)
        font-size: 11rem
        -webkit-text-stroke: 3px $white
.textabout
    width: 100%
    padding: 50px 0px
    // background-color: pink
    .button_div
        padding-top: 50px
    //     background-color: red
    // h2
    //     background-color: red
    @media screen and ( min-width: 600px)
        width: 50%
        padding: 30px 10px
    @media screen and ( min-width: 1200px)
        display: flex
        flex-direction: column
        justify-content: space-between
        padding-bottom: 0px
    @media screen and ( min-width: 1900px)
        p
            font-size: 1.3rem
            line-height: 2.5rem
.uspechy_cont
    flex-wrap: wrap
    margin: 0px 0px 50px 0px
    @media screen and ( min-width: 600px)
        margin: 50px 0px
    @media screen and ( min-width: 1200px)
        margin: 80px 0px
.uspechy_box
    justify-content: space-between
    align-items: flex-end
    padding: 15px 0px
    @media screen and ( min-width: 600px)
        padding: 15px 35px
        width: calc( 50% - 10px )
    @media screen and ( min-width: 1200px)
        padding: 15px 0px
        width: calc( 25% - 15px )
.usp_img
    height: 56px
    width: auto
.usp_text_box
    width: calc( 75% - 10px )
.usp_header
    font-size: 1.5rem
    font-family: Lora
    font-weight: 400
    text-align: center
.usp_text
    p
        font-size: 0.95rem
        @media screen and ( min-width: 1900px)
            font-size: 1.3rem
.values
    background: $lightgreen
    width: 155%
    height: 30px
    background-image: url('img/kkkk.jpg')
    background-position: center
    background-repeat: repeat
    background-size: cover
    margin: 80px 0px
    @media screen and ( min-width: 600px)
        height: 46px
        width: 130%
    @media screen and ( min-width: 1200px)
        width: 120%
        height: 58px
        margin: 0px 0px 120px 0px
// *************** SPOJENCI *************
#spojenci
    height: 110vh 
    background-image: url('img/bg8.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    @media screen and ( min-width: 600px)
        height: 60vh
    @media screen and ( min-width: 1200px)
        height: 100vh
.h2_sp
    font-size: 3rem
    @media screen and ( min-width: 600px)
        font-size: 6.25rem
    @media screen and ( min-width: 1200px)
        font-size: 9.375rem
.box_spojenci
    width: calc( 50% - 5px )
    height: auto
    margin-bottom: 10px
    background: $light
    cursor: pointer
    @media screen and ( min-width: 1200px)
        min-height: 400px
    @media screen and ( min-width: 1900px)
        min-height: 600px
    p
        padding: 15px
        @media screen and ( max-width: 320px)
            padding: 10px
        @media screen and ( min-width: 1200px)
            padding: 30px 20px
        @media screen and ( min-width: 1900px)
            padding: 50px 30px
    p, .bold, .italic
        font-size: 0.6rem
        line-height: 0.9rem
        @media screen and ( max-width: 320px)
            font-size: 0.5rem
            line-height: 0.8rem
        @media screen and ( min-width: 1200px)
            font-size: 1rem
            line-height: 1.8rem
        @media screen and ( min-width: 1900px)
            font-size: 1.4rem
            line-height: 2.3rem
    &::before
        content: ""
        visibility: visible
        position: absolute
        top: 0px
        height: 100%
        width: 100%
        background-position: center top
        background-repeat: no-repeat
        background-size: cover
        transition: 0.1s
    &:hover::before
        visibility: hidden
    @media screen and ( min-width: 600px)
        width: calc( 25% - 7.5px )
    @media screen and ( min-width: 1200px)
        width: calc( 25% - 15px )
.spojenci_bg1
    &::before
        background-image: url('img/spojenec1.jpg')
.spojenci_bg2
    &::before
        background-image: url('img/spojenec2.jpg')
.spojenci_bg3
    &::before
        background-image: url('img/spojenec3.jpg')
.spojenci_bg4
    &::before
        background-image: url('img/spojenec4.jpg')
        

// *************** REFERENCE *************
#reference
    padding-bottom: 100px
.h2_rf
    font-size: 4rem
    @media screen and ( min-width: 600px)
        font-size: 6.25rem
        text-align: right
    @media screen and ( min-width: 1200px)
        font-size: 9.375rem
    @media screen and ( max-width: 320px)
        font-size: 3rem
.ref_cont
    // background: red
.ref_img_box
    @media screen and ( min-width: 600px)
        width: calc(25% + 7.5px)
        display: flex
        flex-direction: column
        position: relative
        margin-top: -60px
    @media screen and ( min-width: 1200px)
        width: 30%
        margin-top: -150px

.ref_text_box
    padding: 30px 18px
    // width: calc( 100% - 32px )
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3)
    @media screen and ( min-width: 600px)
        width: calc( 75% + 22.5px )
        padding: 30px 24px
    @media screen and ( min-width: 1200px)
        width: 70%
        padding: 70px 105px
    @media screen and ( min-width: 1900px)
        padding: 100px 150px
    .ref_text_wrap
        height: 370px
        @media screen and ( min-width: 600px)
            height: 270px
        @media screen and ( min-width: 1900px)
            height: 500px
    p
        font-size: 0.6875rem
        // line-height: 1.2rem
        letter-spacing: 0.55px
        @media screen and ( min-width: 600px)
            font-size: 0.75rem
        @media screen and ( max-width: 320px)
            // font-size: 0.5rem
            line-height: 1rem
        @media screen and ( min-width: 1900px)
            font-size: 1.2rem
            line-height: 2.5rem
.ref_undertext
    justify-content: center
    @media screen and ( min-width: 600px)
        justify-content: space-between
.lada_box
    display: flex
    align-items: center
    justify-content: space-between
    width: 194px
    margin: 20px auto
    background: $white
    @media screen and ( min-width: 600px)
        margin: 0px
    @media screen and ( min-width: 1200px)
        align-self: flex-end
.lada_img
    height: 49px
    width: 49px
.lada_name
    font-size: 0.875rem
    font-weight: 600   
    @media screen and ( min-width: 1900px)
        font-size: 1rem
.img_slider
    width: 110px
    height: 6px
    align-self: center
.arrow_box
    width: 110px
    height: 50px
    justify-content: space-between
    margin: 20px auto
    @media screen and ( min-width: 1200px)
        margin: 0px
        width: auto
        justify-content: flex-end
    img
        height: 50px
        width: 50px
        @media screen and ( min-width: 1200px)
            height: auto
            margin-left: 1px
// initial setup
#testimonial2, #testimonial3, #testimonial4
    display: none

// *************** CONTACT *************
#contact
    background-image: url('img/bg8.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
//     @media screen and ( min-width: 1200px)
       
.contact
    .main
        // @media screen and ( min-width: 1200px )
        //     display: flex
        //     flex-direction: row-reverse
    .top_layer
        position: relative
        z-index: 5
    .cont_cont
        margin-bottom: 100px
        position: relative
        margin-top: -70px
        @media screen and ( min-width: 600px )
            margin-top: -80px
        @media screen and ( min-width: 1200px )
            margin-top: -105px
            margin-bottom: 120px
        @media screen and ( min-width: 1900px )
            margin-top: -135px
    .map_contactdata
        @media screen and ( min-width: 600px )
            width: 50%
            display: flex
            flex-direction: column
    .contact_container
        padding: 50px 20px 30px 20px
        @media screen and ( min-width: 600px )
            width: 50%
            padding: 5%
        @media screen and ( min-width: 1200px )
            padding-right: 10px
            padding-left: 80px
        input, textarea
            width: 100%
            border: 0
            border-bottom: 1px solid
            padding: 5px 0
            margin-bottom: 0.6rem
            font-family: Montserrat
            font-size: 0.875rem
            font-weight: 300
            letter-spacing: 0.05px
            -webkit-appearance: none
            -moz-appearance: none
            -ms-appearance: none
            -o-appearance: none
            appearance: none
            border-radius: 0px !important
            @media screen and ( min-width: 1900px)
                font-size: 1.2rem
            &::-webkit-outer-spin-button
                -webkit-appearance: none
                -moz-appearance: none
                -ms-appearance: none
                -o-appearance: none
                appearance: none
        textarea
            &::-webkit-input-placeholder
                padding-top: 160px
        .message
            background: $pink
        label
            border: 0
            clip: rect(0 0 0 0)
            height: 1px
            margin: -1px
            overflow: hidden
            padding: 0
            position: absolute
            width: 1px 
        .submit
            color: $white
            background: $black
            border: 2px solid $black
            padding: 18px 0
            font-weight: 300
            font-size: 1rem
            text-transform: uppercase
            width: 240px
            margin-left: calc( 50% - 120px )
            outline: none
            transition: 0.5s
            @media screen and ( min-width: 1200px )
                margin-left: 0px
            &:hover
                background: $white
                color: $black
    .contact_data
        padding: 10%
        @media screen and ( min-width: 600px )
            display: flex
            flex-direction: column
            justify-content: space-between
    // GOOGLE MAP
    iframe
        width: 100%
        height: 300px
        padding: 30px 30px 10px 30px
        background: $white
        @media screen and ( min-width: 600px )
            padding-top: 80px
            height: 360px
            padding-bottom: 0px
        @media screen and ( min-width: 1200px )
            padding: 65px 80px 10px 80px
            height: 440px
    .contact_data
        @media screen and ( min-width: 1200px )
            display: flex
            flex-direction: row
            padding-left: 80px
            padding-right: 80px
            padding-top: 30px
    .email_box
        p
            font-size: 0.875rem
            line-height: 1.5rem
            @media screen and ( min-width: 1900px)
                font-size: 1.2rem
                line-height: 2.5rem
        // padding-top: 20px
        // @media screen and ( min-width: 600px )
        //     padding-top: 0
    .email_item
        display: flex  
    .icon_phone
        width: 15px
        height: auto
        margin-top: 3px
        margin-right: 10px


// *************** FOOTER *************
.footer
    background: $darkgreen
//     width: 100%
//     .container
//         width: 100%
//     .main
//         width: 83%
//         background: $darkgreen
//     .fringe
//         background: $darkgreen
.footer_container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 50px
    // width: 100%
    // // padding: 20% 10%
    // color: $white
    // font-size: 16px
    // font-weight: 300
    // display: flex
    // flex-wrap: wrap
    // @media screen and ( min-width: 600px )
    //     padding: 50px 10% 
.footer_box
    width: calc( 50% - 5px )
    @media screen and ( min-width: 600px)
        width: calc( 25% - 7.5px )
    @media screen and ( min-width: 1200px)
        width: calc( 25% - 15px )
    .footer_header
        margin: 0
        padding: 0
        font-family: Lora
        color: $white
        -webkit-text-stroke: 1px $white
        -webkit-text-fill-color: transparent
        font-weight: 600
        font-size: 2rem
    ul
        padding: 0
        margin: 2rem 0
    li
        list-style: none
        padding: 5px 0
        @media screen and ( min-width: 1900px)
            padding: 10px 0
        a 
            font-size: 0.875rem
            letter-spacing: 0.1px
            @media screen and ( min-width: 1900px)
                font-size: 1.2rem
    a
        color: $white
        &:hover
            text-decoration: underline
.list3
    width: 100%
    @media screen and ( min-width: 600px )
        width: 50%
    .footer_line
        display: none
        @media screen and ( min-width: 600px )
            display: block
    .footer_header
        display: none
        @media screen and ( min-width: 600px )
            display: block
.madeby
    padding-top: 50px
    padding-bottom: 50px
    width: 100%
    display: flex
    justify-content: space-around
    p
        color: $white
        font-size: 0.875rem
    a
        &:hover
            color: $pink
            text-decoration: underline

// hypoteky
#hypoteky
    background-image: url('img/bg3.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
.sekce
    .hypo_part1
        @media screen and ( min-width: 600px)
            align-items: center
            padding-bottom: 70px
        @media screen and ( min-width: 1200px)
            padding-bottom: 120px
    .sekce_from_tablet_half
        width: 100%
        @media screen and ( min-width: 600px)
            width: calc( 50% - 5px )
        @media screen and ( min-width: 1200px)
            // background: red
            width: calc( 50% - 10px )
    .pink_cover
        height: 62px
        @media screen and ( min-width: 600px)
            height: 84px
    .h2_header
        font-size: 4rem
        @media screen and ( min-width: 600px)
            font-size: 6.25rem
        @media screen and ( min-width: 1200px)
            font-size: 9.375rem
    // sekce header box
    .sekce_header_box
        display: flex
        align-items: center
        padding: 0px 30px
        @media screen and ( min-width: 1200px)
            padding: 0px 80px
        h3
            font-size: 1.25rem
            font-weight: 600
            letter-spacing: 0.25px
            @media screen and ( min-width: 600px)
                font-size: 1.75rem
            @media screen and ( min-width: 1200px)
                font-size: 2.25rem
    .hypo_pink_box
        height: 101px
        background-image: url('img/pink_quest.jpg')
        background-position: right
        background-repeat: no-repeat
        background-size: cover
        @media screen and ( min-width: 600px)
            height: 200px
        @media screen and ( min-width: 1200px)
            height: 320px
    ul
        // background: pink
        margin: 0px
        padding-left: 18px
        list-style-image: url('img/li.svg')
        li
            padding: 7.5px 0px
            line-height: 22px
    .sekce_ul
        margin: 20px 0px 30px 0px
        @media screen and ( min-width: 600px)
            padding-left: 38px
        @media screen and ( min-width: 1200px)
            padding-left: 58px
    // hypo part 2
.hypo_part2
    padding: 30px 0px 50px 0px
    @media screen and ( min-width: 600px)
        padding: 70px 0px
    @media screen and ( min-width: 1200px)
        padding: 90px 0px
    .hypo_green_box
        height: 101px
        margin-bottom: 20px
        @media screen and ( min-width: 600px)
            width: 100% !important
            height: 117px
            position: relative
            margin-left: calc( 50% + 10px )
            margin-top: 20px
            margin-bottom: 80px
        @media screen and ( min-width: 1200px)
            margin-top: 50px
            height: 185px
    .hypo_img_1
        width: 100%
        height: auto  
    .A_Z
        font-weight: 700
        text-align: center
        padding-top: 20px
        @media screen and ( min-width: 600px)
            text-align: right
        @media screen and ( min-width: 1200px)
            text-align: left
    .part2_button
        margin-top: 20px
        @media screen and ( min-width: 600px)
            margin-top: 50px
        @media screen and ( min-width: 1200px)
            margin-top: 60px
.part2_text
        padding: 20px 0px
        @media screen and ( min-width: 600px)
            padding: 0px

// 4  kroky for general use
.kroky4_header_box
    display: flex
    align-items: center
    padding: 36px
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2)
    @media screen and ( min-width: 1200px)
        padding-left: 85px
        padding-right: 85px
    h3
        line-height: 1.375rem
        @media screen and ( min-width: 1200px)
            font-size: 1.3rem
            line-height: 2rem
    .kroky4
        font-size: 1.25rem
        font-weight: 400
        letter-spacing: 0.33px
        @media screen and ( min-width: 600px)
            font-size: 1.75rem
        @media screen and ( min-width: 1200px)
            font-size: 2.25rem
.kroky4_text_box_cont
    width: 100%
    display: flex
    flex-direction: column
    @media screen and ( min-width: 600px)
        flex-direction: column-reverse
        width: calc( 50% + 5px )
    @media screen and ( min-width: 1200px)
        // background: red
        width: calc( 50% + 10px )
.kroky4_text_box
    padding: 36px 20px
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2)
    @media screen and ( min-width: 1200px)
        padding: 36px
// kroky slider
.kroky_slider_box
    width: 100%
    height: 67px
    display: flex
    justify-content: space-between
    cursor: pointer
    @media screen and ( min-width: 600px)
        width: 314px
        align-self: flex-end
.kroky_slider
    width: calc( 25% - 0.75px ) //for 6 (16.6% - 0.83px)
    height: 100%
    border: 1px $pink solid
    display: flex
    justify-content: space-around
    align-items: center
    &:hover
        background-color: rgba(227, 197, 183, 0.4)
        .slider_number
            color: $black
        .kroky_slider_selected
            background-color: $pink
    .slider_number
        font-family: Lora
        font-size: 1.875rem
        font-weight: 500
        color: $pink
.kroky_slider_selected
    background: $pink
    .slider_number
        color: $black
// kroky general
.krok_height
    display: flex
    flex-direction: column
    justify-content: space-around
    // background-color: red
    height: 250px
    @media screen and ( min-width: 600px)
        height: 200px
#krok_hypo4, #krok_hypo2, #krok_hypo3
    display: none


.pdf_button
    background: transparent
    color: $black
    margin-top: 30px
    &:hover
        background: $black
        color: $white
.button_box
    display: none
    @media screen and ( min-width: 600px)
        display: flex
        justify-content: space-between
        width: 370px
        margin-left: calc( 50% - 195px )
        margin-top: 30px
        .pdf_button
            margin-top: 0px
.hypo_part3
    background-image: url('img/bg3.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    padding: 50px 0px
    @media screen and ( min-width: 600px)
        padding: 70px 0px
    @media screen and ( min-width: 1200px)
        padding: 120px 0px
    .kroky4_header_box
        @media screen and ( min-width: 600px)
            margin-top: 67px
    .A_Z
        font-weight: 700
        text-align: center
        padding-top: 20px
        @media screen and ( min-width: 600px)
            text-align: left
            margin-left: calc( 50% + 30px)
        @media screen and ( min-width: 1200px)
            text-align: left


// hypo part 4 -  caste otazky
.hypo_part4
    padding-bottom: 100px
    .align_fl_end
        align-items: flex-end
    .hypo_otazky_box
        width: 100%
        // background: $pink
        cursor: pointer
        height: 130px
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        margin-bottom: 20px
        h3
            color: $white
            font-weight: 300 !important
            padding-bottom: 20px
            @media screen and ( min-width: 600px)
                padding-bottom: 25px
            @media screen and ( min-width: 1200px)
                padding-bottom: 37px
        @media screen and ( min-width: 600px)
            height: 150px
        @media screen and ( min-width: 1200px)
            height: 185px
    .hypo_otazky_bg1
        background-image: url('img/bg_otazky_1.jpg')
    .hypo_otazky_bg2
        background-image: url('img/bg_otazky_2.jpg')
    .hypo_otazky_bg3
        background-image: url('img/bg_otazky_3.jpg')
    .sekce_ul
        margin: 0px
        // background-color: pink
    .hypo_odpoved_container
        padding: 10px 0px 50px 0px
        // toggle function
        display: none
        width: 100% !important
        @media screen and ( min-width: 1200px)
            padding: 30px 0px 90px 0px
        p
            padding: 0px 20px
            @media screen and ( min-width: 600px)
                padding: 0px 30px
            @media screen and ( min-width: 1200px)
                padding: 0px 80px
        
// rada
.box_7rad
    margin-bottom: 20px
    p, li
        font-weight: 200 !important
    
.bold
    font-weight: 600
.italic
    font-style: italic
.bg_rada
    background-size: 76px
    background-repeat: no-repeat
    background-position: 95% 101%
    @media screen and ( min-width: 600px)
        background-size: 155px
.bg_rada1
    background-image: url('img/rada1.png')
.bg_rada2
    background-image: url('img/rada2.png')
.bg_rada3
    background-image: url('img/rada3.png')
.bg_rada4
    background-image: url('img/rada4.png')
.bg_rada5
    background-image: url('img/rada5.png')
.bg_rada6
    background-image: url('img/rada6.png')
.bg_rada7
    background-image: url('img/rada7.png')
#odpoved3
    // toggle function
    display: none
    width: 100% !important

// pujcky
#pujcky
    background-image: url('img/bg4.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    padding-bottom: 106px
    @media screen and ( min-width: 600px)
        padding-bottom: 132px
    @media screen and ( min-width: 1200px)
        padding-bottom: 120px
.h2_puj
    font-size: 3rem
    @media screen and ( min-width: 600px)
        font-size: 6.25rem
    @media screen and ( min-width: 1200px)
        font-size: 6.375rem
    @media screen and ( min-width: 1900px)
        font-size: 9.375rem
    @media screen and ( max-width: 320px)
        font-size: 2.8rem
// rezervy
#rezervy
    background-image: url('img/bg5.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    padding-bottom: 106px
    @media screen and ( min-width: 600px)
        padding-bottom: 132px
    @media screen and ( min-width: 1200px)
        padding-bottom: 120px
    .pad_bot
        padding-bottom: 20px
        @media screen and ( min-width: 600px)
            padding-bottom: 132px
        @media screen and ( min-width: 1200px)
            padding-bottom: 120px

.h2_rez
    font-size: 2.85rem
    @media screen and ( min-width: 600px)
        font-size: 6.25rem
    @media screen and ( min-width: 1200px)
        font-size: 9.375rem
    @media screen and ( max-width: 320px)
        font-size: 2.4rem

// pojisteni
.h2_poj
    font-size: 2.5rem
    line-height: 3rem
    @media screen and ( min-width: 600px)
        font-size: 5rem
        line-height: 5.8rem
    @media screen and ( min-width: 1200px)
        font-size: 9rem
        line-height: 9.6rem
    @media screen and ( max-width: 320px)
        font-size: 2.1rem
        line-height: 2.5rem
#pojisteni
    padding-bottom: 30px
    @media screen and ( min-width: 600px)
        padding-bottom: 100px
// part 2 - pojisteni
.poj_part2_bg
    background-image: url('img/bg6.jpg')
    background-attachment: fixed
    .kroky4_header_box
        @media screen and ( min-width: 600px)
            margin-top: 53px
        @media screen and ( min-width: 1200px)
            margin-top: 79px
    .kroky_slider_box
        width: 100%
        height: 50px
        @media screen and ( min-width: 600px)
            width: 334px
            height: 53px
        @media screen and ( min-width: 1200px)
            width: 533px
            height: 79px
    .kroky_slider
        width: calc( 16% - 0.7px ) //for 6 (16.6% - 0.83px)
        height: 100%
        border: 1px $lightgreen solid
        .slider_number
            color: $lightgreen
            font-size: 1.375rem
            @media screen and ( min-width: 1200px)
                font-size: 1.85rem
    .kroky_slider_selected
        background: $lightgreen
        .slider_number
            color: $black
    .part2_button
        margin-top: 30px
// part 3 - pojisteni
.poj_part3
    h2
        @media screen and ( min-width: 600px)
            padding-bottom: 30px  
        @media screen and ( min-width: 1200px)
            padding-bottom: 50px
    padding-bottom: 30px
    @media screen and ( min-width: 600px)
        padding-bottom: 100px
    .hypo_green_box
        height: 101px
        margin-bottom: 20px
        @media screen and ( min-width: 600px)
            height: 117px
        @media screen and ( min-width: 1200px)
            height: 185px
    ul
        @media screen and ( min-width: 600px)
            margin-bottom: 20px
    .margin_top_special
        @media screen and ( min-width: 1200px)
            margin: 10% 0
        



// part 4 - pojisteni
.poj_part4_bg
    background-image: url('img/bg7.jpg')
    .kroky_slider
        border: 1px $darkgreen solid
        .slider_number
            color: $darkgreen
    .kroky_slider_selected
        background: $darkgreen
        .slider_number
            color: $white
    .part4_button
        margin-top: 30px
// gdpr
.gdpr
    .bold
        margin: 15px 0px





    

        

    
        

